<app-header></app-header>

<main class="main">
  <div class="content">
    <h1>Nordea dialog examples</h1>
    <div class="examples">
      <button (click)="openDialog1()">Open Dialog 1</button>

      <nordea-dialog [isOpen]="isDialog1Open" [title]="dialog1Title" (close)="closeDialog1()">
        <!-- Dialog 1 content goes here -->
        <p>This is the content for Dialog 1.</p>
        <form>
          <input type="text" placeholder="type your name" />
          <input type="text" placeholder="type your password" />
        </form>
        <div nordea-dialog-actions>
          <button (click)="closeDialog1()">Submit</button>
        </div>
      </nordea-dialog>

      <button (click)="openDialog2()">Open Dialog 2</button>

      <nordea-dialog [isOpen]="isDialog2Open" [title]="dialog2Title" (close)="closeDialog2()">
        <!-- Dialog 2 content goes here -->
        <p>This is the content for Dialog 2.</p>
        <div nordea-dialog-actions>
          <button (click)="submitDialog2()">Submit</button>
        </div>
      </nordea-dialog>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
